/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Sidebar Gradient */
.sidebar-gradient {
  background: url("./assets//images/sidebar-radial.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Navlinks Active Geadient */
.navlink-active {
  background: #ffea00;
  background: linear-gradient(
    51deg,
    rgba(255, 234, 0, 0.5) 0%,
    rgba(122, 52, 219, 0.5) 100%
  );
}

.navlink-active-tag:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 60px;
  top: 0;
  left: 0;
  background: #7a34db;
  background: linear-gradient(51deg, #ffea00 0%, rgba(122, 52, 219, 1) 100%);
}

.commonCustomCard {
  border-radius: 20px;
  border-top: 5px solid #ffea00;
  background: linear-gradient(
    90deg,
    rgba(255, 234, 0, 0.3) 0%,
    rgba(122, 52, 219, 0.3) 100%
  );
  box-shadow: 0 0 8px 0 rgba(245, 158, 11, 0.32);
  max-width: 461px;
}
.nr_customBg {
  border-radius: 9.556px;
  background: rgba(245, 158, 11, 0.2);
}
.nr_customPrice {
  color: rgba(255, 215, 0, 1);
  font-weight: 600;
  font-size: 28px;
}

.nr-customBorder::after {
  background: linear-gradient(90deg, #ffea00 0%, #7a34db 100%);
}
.nrCustomBgDeposite {
  background: rgba(0, 0, 0, 0.3);
}

.nr_customInputBox {
  padding: 22px 24px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.nr-customButton {
  border-radius: 80px;
  border: 1px solid #7a34db;
  background: linear-gradient(90deg, #ffea00 0%, #7a34db 100%);
}
